.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin: 30px 5%;
}

.projects-title {
    position: relative;
}

.projects-title h1 {
    font-size: 50px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    background-color: #25282B;
    border: 2px solid #3F3F40;
    cursor: pointer;
    transition: transform ease 0.3s;
}

.project:hover {
    transform: translate(0, -10px);
}

.project-text-container {
    display: flex;
    flex-direction: column;
    padding: 0% 5% 4% 5%;
    gap: 10px;
}

.project-img-container {
    padding: 2%;
}

.project img {
    width: 100%;
}

.project-text-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.project span {
    font-size: small;
    background-color: rgba(43, 178, 115, .7);
    border: 1px solid #2BB273;
    border-radius: 10px;
    padding: 1px 5px;
}

.project-text-container p {
    font-weight: 300;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-text-lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-text-container a {
    color: #E1C931;
}
.project-text-container a:visited {
    color: #E1C931;
}