.profile {
    display: flex;
    flex-direction: row;
    margin: 50px 20% 30px;
    gap: 50px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    gap: 20px;
}

.profile-pic-wrapper {
    position: relative;
}

.profile-pic {
    height: 250px;
    width: 250px;
    outline: 5px solid #2BB273;
}

.profile-pic:hover {
    cursor: pointer;
    outline: 5px solid white;
}

.costume {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.link-container {
    display: flex;
    gap: 30px;
}

.link-container img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: .8;
}

.link-container img:hover {
    opacity: 1;
}

.profile-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-right h1 {
    font-size: 30px;
    font-weight: 900;
}

.profile-right p {
    font-size: 18px;
}

.profile-right a {
    font-size: 18px;
    font-weight: bold;
    color: #E1C931;
}

@media(max-width:900px) {
    .profile {
        flex-direction: column;
    }
}